<<<<<<< HEAD
body .modal{
	width: 90%;
	left: 5%;
	margin-left: auto;
	margin-right: auto;
=======
img {
    width:100%;
}
.col-sm-3 {
    margin:25px auto;
>>>>>>> 450dfc7019971dea7a34a9505bbbef29f5e0fe9e
}